.layout-Player-barrage.layout-Player-barrage {
  top: 0;
}

// 鱼吧帖子标题
div[class^=index-listTitle] a {
  border-bottom: 2px solid rgba(86, 86, 87, .8);
  border-left: 2px solid rgba(86, 86, 87, .8);
  border-right: 2px solid rgba(86, 86, 87, .8);
  border-radius: 3px;
}

// 播放器主体 位置调整60
.layout-Main.layout-Main {
  position: fixed;
  top: 60px;
}